---
import { resolve } from "path";
import { kebabCase } from "change-case";
const {
  maker,
  homepage,
  unique_name,
  shop_link,
  hardware_repo,
  image_url: image_url_prop,
  description,
} = Astro.props;

const hosted_image_url = `/images/${unique_name}.png`;
const image_file_path = resolve(
  import.meta.dirname,
  `../..${hosted_image_url}`
);

const hosted_image = (await Bun.file(image_file_path).exists())
  ? hosted_image_url
  : null;

const image_url = image_url_prop
  ? image_url_prop
  : hosted_image
    ? import.meta.env.BASE_URL + hosted_image
    : null;
---

{
  (function (markup) {
    return homepage ? <a href={homepage}>{markup}</a> : markup;
  })(
    <article id={kebabCase(unique_name)}>
      <h2>{unique_name}</h2>
      <span class="byline">by {maker}</span>
      {image_url && (
        <img
          alt={`An image of the ${unique_name} hexpansion`}
          src={image_url}
        />
      )}
      <p>{description}</p>
      <div class="link-container">
        {shop_link ? (
          <a class="link" href={shop_link}>
            Buy
          </a>
        ) : null}
        {hardware_repo ? (
          <a class="link" href={hardware_repo}>
            Hardware Source
          </a>
        ) : null}
      </div>
    </article>
  )
}

<style>
  article {
    border: 1px solid #999;
    padding: 20px;
    border-radius: 8px;
  }
  p,
  h1,
  h2,
  h3 {
    color: #eee;
    text-decoration: none;
    margin: 0.5em 0;
  }
  .byline {
    margin-bottom: 24px;
  }
  a {
    color: #aaa;
    text-decoration: none;
  }
  img {
    margin-top: 24px;
    width: 95%;
  }
  a.link:not(:nth-child(2)) {
    border-left: 1px solid white;
    margin-left: 0.7vw !important;
    padding-left: 0.7vw !important;
  }
</style>
