---
import { resolve } from "path";
const {
  maker,
  homepage,
  unique_name,
  shop_link,
  image_url: image_url_prop,
  description,
} = Astro.props;

const hosted_image_url = `/images/${unique_name}.png`;
const image_file_path = resolve(
  import.meta.dirname,
  `../..${hosted_image_url}`
);

console.log(image_file_path, await Bun.file(image_file_path).exists());
const hosted_image = (await Bun.file(image_file_path).exists())
  ? hosted_image_url
  : null;

const image_url = image_url_prop
  ? image_url_prop
  : hosted_image
    ? import.meta.env.BASE_URL + hosted_image
    : null;
---

{
  (function (markup) {
    return homepage ? <a href={homepage}>{markup}</a> : markup;
  })(
    <article>
      <h2>{unique_name}</h2>
      <div role="doc-subtitle">by {maker}</div>
      {image_url && (
        <img
          alt={`An image of the ${unique_name} hexpansion`}
          src={image_url}
        />
      )}
      <p>{description}</p>
      {shop_link ? <a href={shop_link}>Buy</a> : null}
    </article>
  )
}

<style>
  article {
    border: 1px solid #999;
    padding: 20px;
    border-radius: 8px;
  }
  p,
  h1,
  h2,
  h3 {
    color: #eee;
    text-decoration: none;
    margin: 0.5em 0;
  }
  a {
    color: #aaa;
    text-decoration: none;
  }
  img {
    width: 95%;
  }
</style>
